.phones{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    gap:1.5em;
    margin: 3em 3.2em;
    max-width: 1170px;
}

.pic{
    z-index: -1;
    max-width: 200px; 
    margin-left: 2.5em;
    margin-bottom: 1.5em;
}